@mixin tablet {
  @media (min-width: 43rem) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 62rem) {
    @content;
  }
}

@mixin large-desktop {
  @media (min-width: 82rem) {
    @content;
  }
}

@mixin text-styles(
  $font-family,
  $font-size,
  $line-height,
  $font-weight,
  $color
) {
  font-family: $font-family;
  font-size: $font-size;
  line-height: $line-height;
  font-weight: $font-weight;
  color: $color;
}
