@use '../abstracts/mixins' as *;

.input {
  &__group {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;

    &:hover {
      .input__control {
        border-color: rgba(var(--blue-clr));

        &::placeholder {
          color: rgba(var(--black-clr), 1);
        }
      }

      path {
        fill: rgba(var(--blue-clr));
        opacity: 1;
      }
    }
  }

  &__control {
    @include text-styles(
      var(--primary-ff),
      1rem,
      1.5rem,
      400,
      rgba(var(--grey-clr))
    );
    border: 0.0625rem solid rgba(var(--light-grey-clr));
    padding: 1.4375rem 3rem 1.4375rem 1rem;
    border-left: 0.25rem solid rgba(var(--blue-clr));
    width: 100%;
    transition: 0.3s;

    &.invalid {
      border-color: #b80808;
      color: rgba(var(--black-clr), 1);
    }

    &:hover {
      color: rgba(var(--black-clr), 1);
    }

    &:focus {
      color: rgba(var(--grey-clr));

      & + button svg path {
        fill: rgba(var(--black-clr), 1);
        opacity: 0.3;
      }
    }

    &:is(:focus, :hover, :invalid) {
      outline: none;
      box-shadow: 0px 1.875rem 2.5rem rgba(var(--black-clr), 0.06);
    }

    @include tablet {
      padding: 1.4375rem 8rem 1.4375rem 2.5rem;
    }
  }

  &__submit {
    position: absolute;
    right: 1rem;
    padding: 0;
    border: none;
    background-color: transparent;
    height: 0.875rem;
    cursor: pointer;

    @include tablet {
      right: 1.5rem;
    }

    path {
      transition: 0.3s;
    }
  }
}

.checkbox {
  &__container {
    position: relative;
    display: flex;
    align-items: center;
    height: 1.8rem;

    padding-left: 2.75rem;
    color: rgba(var(--grey-clr));

    & > p {
      margin: 0;
      @include text-styles(
        var(--primary-ff),
        1rem,
        1.625rem,
        400,
        rgba(var(--grey-clr))
      );
    }

    .link {
      color: rgba(var(--black-clr), 1);
    }
  }

  &__input {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
    cursor: pointer;

    &:active ~ .checkbox__checkmark {
      background-color: rgba(var(--blue-clr));
      border-color: rgba(var(--blue-clr));
    }

    &:checked ~ .checkbox__checkmark {
      background-color: rgba(var(--dark-blue-clr));

      &::after {
        opacity: 1;
      }
    }
  }

  &__checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 1.625rem;
    width: 1.625rem;
    background-color: rgba(var(--white-clr));
    border: 0.0625rem solid rgba(var(--almost-white-clr));
    border-radius: 0.1875rem;
    transition: 0.3s;

    cursor: pointer;

    &:after {
      content: '';
      position: absolute;
      display: block;
      left: 0.4rem;
      top: 0.45rem;
      height: 0.6875rem;
      width: 0.875rem;

      background-image: url('../../assets/icons/ic_checkmark.svg');
    }
  }
}
