@use '../abstracts/mixins' as *;

.link {
  text-underline-offset: 0.2rem;
  text-decoration: underline;

  &:hover {
    color: rgba(var(--blue-clr));
    text-decoration: underline;
  }

  &:focus {
    color: rgba(var(--dark-blue-clr));
  }
}
