.social-icon {
  display: grid;
  place-items: center;

  height: 2.875rem;
  aspect-ratio: 1 / 1;
  border: 0.125rem solid rgba(var(--light-grey-clr));
  border-radius: 100%;

  cursor: pointer;
  transition: 0.3s;

  &:hover {
    box-shadow: 0px 20px 40px rgba(var(--black-clr), 0.3);
  }

  &.facebook {
    &:hover {
      border-color: rgba(var(--facebook-clr));
      background: rgba(var(--facebook-clr));
    }
    &:active {
      border-color: rgba(var(--facebook-active-clr));
      background: rgba(var(--facebook-active-clr));
    }
  }

  &.instagram {
    &:hover {
      border-color: rgba(var(--instagram-clr));
      background: rgba(var(--instagram-clr));
    }
    &:active {
      border-color: rgba(var(--instagram-active-clr));
      background: rgba(var(--instagram-active-clr));
    }
  }

  &.twitter {
    &:hover {
      border-color: rgba(var(--twitter-clr));
      background: rgba(var(--twitter-clr));
    }
    &:active {
      border-color: rgba(var(--twitter-active-clr));
      background: rgba(var(--twitter-active-clr));
    }
  }

  &.youtube {
    &:hover {
      border-color: rgba(var(--youtube-clr));
      background: rgba(var(--youtube-clr));
    }
    &:active {
      border-color: rgba(var(--youtube-active-clr));
      background: rgba(var(--youtube-active-clr));
    }
  }

  &:is(:hover, :focus) svg path {
    fill: rgba(var(--white-clr));
    opacity: 1;
  }

  svg {
    display: block;
  }
}
