@use "../abstracts/mixins" as *;

.subscribe__form {
  .tos-container {
    padding-top: 1.25rem;

    @include large-desktop {
      padding: 3.125rem 0 0 2.5rem;
    }
  }

  .error-message {
    margin: 0;
    font-family: var(--primary-ff);
    font-size: 0.75rem;
    font-weight: 700;
    color: rgba(var(--error-clr));
    padding-top: 0.5625rem;
  }
}
