@use "../abstracts/mixins" as *;

.header {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;

  padding: 0.625rem 1.25rem 1rem;
  background-color: rgba(var(--white-clr));

  @include large-desktop {
    padding: 0;
  }

  &__logo {
    height: 2.5rem;
    width: 1.5625rem;
    background-image: url("../../assets/logo/mobile-logo.svg");

    @include large-desktop {
      background-image: url("../../assets/logo/desktop-logo.svg");
      background-repeat: no-repeat;
      width: 7.375rem;
    }
  }
}
