@use '../abstracts/mixins' as *;

.nav {
  padding-top: 0.625rem;

  @include tablet {
    padding-top: 1rem;
  }

  &__list {
    display: flex;
    gap: 1.25rem;
    margin: 0;
    padding: 0;

    @include tablet {
      gap: 1.5rem;
      font-size: 1rem;
    }

    &-item > a {
      @include text-styles(
        var(--primary-ff),
        0.875rem,
        1.5rem,
        400,
        rgba(var(--grey-clr))
      );
      text-decoration: none;

      @include tablet {
        font-size: 1rem;
        line-height: 1.625rem;
      }
    }
  }
}
