@use '../abstracts/mixins' as *;

.subscribe {
  display: flex;
  flex-direction: column;
  gap: 11rem;
  min-height: 100vh;

  @include tablet {
    max-width: 30rem;
    gap: 10rem;
    padding: 5.7rem 6.25rem;
    min-height: initial;
    background: linear-gradient(
      180deg,
      rgba(var(--white-clr)) 0%,
      rgba(var(--almost-white-clr)) 100%
    );
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: clamp(18.5rem, calc(100% - 10rem), 30rem);
    padding: 1.875rem 1.25rem;
    margin-bottom: 10rem;
    background: linear-gradient(
      180deg,
      rgba(var(--white-clr)) 0%,
      rgba(var(--almost-white-clr)) 100%
    );

    @include tablet {
      justify-content: center;
      position: initial;
      transform: initial;
      background: initial;
      padding: 0;
      margin: 0;
      width: 100%;
    }

    &-success-icon {
      padding-bottom: 2.35rem;
    }

    &-title {
      @include text-styles(
        var(--secondary-ff),
        1.5rem,
        2.125rem,
        400,
        rgba(var(--black-clr), 1)
      );
      margin: 0;
      padding-bottom: 0.625rem;

      @include tablet {
        font-size: 2rem;
        line-height: 2.75rem;
        padding-bottom: 0.935rem;
      }
    }

    &-description {
      @include text-styles(
        var(--primary-ff),
        0.875rem,
        1.625rem,
        400,
        rgba(var(--grey-clr))
      );
      margin: 0;
      padding-bottom: 1.25rem;

      @include tablet {
        font-size: 1rem;
        line-height: 1.75rem;
        padding-bottom: 3.125rem;
      }
    }

    .subscribe__form {
      .tos-container {
        padding-top: 0.5rem;

        @include tablet {
          padding-top: 2.375rem;
        }
      }

      .error-message {
        @include text-styles(
          var(--primary-ff),
          0.75rem,
          1.125rem,
          700,
          rgba(var(--error-clr))
        );
        margin: 0;
        padding: 0.375rem 0;
      }
    }

    &-social-links {
      display: grid;
      place-items: center;
      padding-top: 1.25rem;

      @include tablet {
        padding-top: 3.125rem;
      }

      & > span {
        display: block;
        height: 0.0625rem;
        width: 100%;
        background: rgba(var(--light-grey-clr));
      }

      .social__links-list {
        display: flex;
        justify-content: space-between;
        gap: 0.625rem;
        margin: 0;
        padding: 1.25rem 0 0 0;

        @include tablet {
          padding-top: 3.125rem;
          gap: 1.25rem;
        }
      }
    }
  }
}
